.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.info-section {
  display: flex;
  flex-direction: row;
}
.info-section div {
  margin-right: 20px; /* Vous pouvez ajuster la marge selon vos besoins */
}


.excellent {
  background-color: green;
  color: white;
}

.good {
  background-color: orange;
  color: white;
}

.not-liked {
  background-color: red;
  color: white;
}

.excellent, .good, .not-liked {
  margin: 5px; /* Ajoute une marge de 5 pixels autour de chaque bouton */
}


.gray-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px; /* Ajoutez une marge supérieure pour espacer le bouton des autres éléments */
  border-radius: 5px;
  cursor: pointer;
}

.gray-button:hover {
  background-color: darkgray;
}

.rating-container {
  transform: scale(1.5); /* Ajustez le facteur d'échelle selon vos besoins */
  align-items: center; /* Centrer verticalement les éléments */
  margin-top: 20px; /* Ajouter de l'espace en bas de la zone de notation */

}


.movie-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Trois films par ligne */
  grid-gap: 20px; /* Espacement entre les films */
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}


.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.movie-director {
  font-size: 16px;
  color: #555;
  margin: 5px 0 0;
}

.rating-container {
  margin-top: 20px;
}

.gray-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.gray-button:hover {
  background-color: #bbb;
}

/* Styles pour les liens de streaming */
.streaming-links {
  display: flex;
  flex-direction: row;
}

/* Styles pour les logos de streaming */
.streaming-logo {
  max-width: 5%; /* Ajuster selon vos besoins */
  margin-top: 20px; /* Marge entre les logos */
}