.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.info-section {
  display: flex;
  flex-direction: row;
}
.info-section div {
  margin-right: 20px; /* Vous pouvez ajuster la marge selon vos besoins */
}


.excellent {
  background-color: green;
  color: white;
}

.good {
  background-color: orange;
  color: white;
}

.not-liked {
  background-color: red;
  color: white;
}

.excellent, .good, .not-liked {
  margin: 5px; /* Ajoute une marge de 5 pixels autour de chaque bouton */
}


.gray-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px; /* Ajoutez une marge supérieure pour espacer le bouton des autres éléments */
  border-radius: 5px;
  cursor: pointer;
}

.gray-button:hover {
  background-color: darkgray;
}

.rating-container {
  transform: scale(1.5); /* Ajustez le facteur d'échelle selon vos besoins */
  align-items: center; /* Centrer verticalement les éléments */
  margin-top: 20px; /* Ajouter de l'espace en bas de la zone de notation */

}


.movie-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Trois films par ligne */
  grid-gap: 20px; /* Espacement entre les films */
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}


.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.movie-director {
  font-size: 16px;
  color: #555;
  margin: 5px 0 0;
}

.rating-container {
  margin-top: 20px;
}

.gray-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.gray-button:hover {
  background-color: #bbb;
}

/* Styles pour les liens de streaming */
.streaming-links {
  display: flex;
  flex-direction: row;
}

/* Styles pour les logos de streaming */
.streaming-logo {
  max-width: 5%; /* Ajuster selon vos besoins */
  margin-top: 20px; /* Marge entre les logos */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Styles pour l'icône de point d'interrogation */
.info-icon {
  width: 20px; /* Ajuster selon vos besoins */
  height: 20px; /* Ajuster selon vos besoins */
  margin-left: 5px;
}

/* Styles pour le conteneur d'action */
.action-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Ajuster selon vos besoins */
}

/* Styles pour le bouton */
.gray-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Espace entre le bouton et l'icône */
}

/* Styles pour aligner les étoiles et le texte sur une seule ligne */
.rating-text {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Styles pour le texte du tooltip */
.tooltiptext {
  visibility: hidden;
  background-color: #4d4d4d;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Ensure text stays on one line */
}
